* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Ubuntu", sans-serif;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 15px;
}

ul li {
  list-style-type: none;
}

li:first-child {
  margin-right: auto;
}

.navbar ul li i {
  font-size: 20px;
}

nav img {
  width: 60px;
  height: 30px;
}

#hidden {
  display: none;
}

@keyframes menu {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.menu ul {
  list-style-type: none;
  width: 22%;
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.menu li:first-child {
  margin-top: 50px;
}
.menu li a {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu li:hover {
  opacity: 0.6;
}

.close {
  color: #fff;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -140px;
}

section {
  margin-top: 20px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100%;
  column-gap: 2%;
}

.box1 {
  background-image: url("./images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

h1 {
  margin-top: 80px;
  font-weight: 400;
  font-size: 2.625rem;
  text-align: center;
}

input {
  padding: 15px 15px;
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 8%;
}

input:focus {
  outline: none;
  border-color: #111;
  box-shadow: 0 0 10px #111;
}
form {
  margin-top: 60px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  opacity: 0.5;
}

input[type="submit"] {
  background-color: #1d161f;
  color: #fff;
  padding: 20px 120px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 80px;
  margin-top: 40px;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 70%;
  margin-bottom: 80px;
}

input:hover[type="submit"] {
  background: #65544e;
}

.box2 p {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 70px;
}

.box2 a {
  color: #000;
  font-weight: 500;
}

@media screen and (max-width: 769px) {
  .grid-2 {
    grid-template-columns: 100%;
  }

  input {
    padding: 15px;
    font-size: 1.6rem;
    width: 60%;
    margin-left: 15%;
  }

  input[type="submit"] {
    width: 50%;
    margin-left: 140px;
    padding: 20px 100px;
  }
}
